name: zenvofin

services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    container_name: postgresql
    restart: unless-stopped
    command: >
      postgres
      -c shared_preload_libraries=pg_cron
      -c cron.database_name=zenvofin
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: zenvofin
    volumes:
      - postgresql_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  seq:
    image: datalust/seq:2025.2
    container_name: seq
    restart: unless-stopped
    environment:
      ACCEPT_EULA: "Y"
      SEQ_PASSWORD: "admin"
    ports:
      - "5341:80"
    volumes:
      - seq-data:/data

volumes:
  postgresql_data:
    driver: local
  seq-data:
    driver: local